<!-- Bottom Navigation -->
  <nav class="bottom-nav" aria-label="Bottom navigation">
    <a href="index.html" class="active" aria-current="page">
      <i class="fas fa-home"></i>
      <small>Home</small>
    </a>
    <a href="doctors.html">
      <i class="fas fa-user-md"></i>
      <small>Doctors</small>
      
 <a href="https://wa.me/+918062182411" 
   target="_blank" 
   rel="noopener">
  <i class="fa-brands fa-whatsapp" style="color:#2ecc71; font-size: 2.5rem;"></i>
</a>

 
    <a href="services.html">
      <i class="fas fa-stethoscope"></i>
      <small>Services</small>
    </a>
    <a href="contact.html">
      <i class="fa fa-calendar"></i>
      <small>Appointment</small>
    </a>
  </nav>
